.App {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100vw;
  height: 10vh;
  background-color: rgb(42, 42, 118);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > nav {
  padding: 2vw 2vh;
  display: flex;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  min-width: 10vw;
  background-color: white;
  color: rgb(42, 42, 118);
  text-decoration: none;
  margin-left: 4vw;
  border-radius: 20px;
}

.header-menu > span {
  margin-left: 1vw;
}

.userpicker {
  margin-right: 5vw;
}

main {
  padding: 4vw;
  height: 90vh;
  background: beige;
}

ul.bookables {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bookables > li {
  width: 25vw;
  height: 10vh;
  background-color: white;
  border: 1px solid rgb(42, 42, 118);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
  font-weight: 400;
  cursor: pointer;
}

.bookables > li.selected {
  background-color: rgb(42, 42, 118);
  color: white;
}
.bookables > li.bookables-next {
  width: 10vw;
  height: 5vh;
  background-color: rgb(33, 33, 182);
  border: 1px solid black;
  border-radius: 25px;
  color: white;
}

.bookables > li.bookables-next > span {
  margin-left: 0.5vw;
}

.bookables > select {
  width: 10vw;
  height: 5vh;
  margin-bottom: 5vh;
}

.bookables-container {
  display: flex;
  justify-content: space-around;
}
.bookable-details {
  width: 70vw;
  height: 80vh;
  justify-self: center;
  padding: 5%;
}
.bookable-details__header {
  width: 100%;
  height: 10vh;
  background: rgb(42, 42, 118);
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  font-size: 1.5rem;
}

.bookable-details__description {
  width: 100%;
  min-height: 5vh;
  background-color: seagreen;
  padding: 0 2%;
  margin-top: 5vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2% 2%;
}

.bookable-details__details h2 {
  border-bottom: 2px solid white;
}

.user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-container__profile > h1 {
  color: rgb(42, 42, 118);
  border-bottom: 2px solid rgb(42, 42, 118);
  margin-bottom: 10vh;
}
